@font-face{
  font-family: 'OpenSans';
  src: local('OpenSans'), url('../fonts/static/OpenSans-Medium.ttf') format('truetype');
}

*{
  font-family: 'OpenSans';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'OpenSans';
}

header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input{
  height: 40px;
  font-size: 1.2rem;
}

.hamburer-icon{
  width: 50px;
  height: 50px;
}

.hamburger-icon-container:hover{
  cursor: pointer;
}

.logo{
  width: 300px;
  height: auto;
}

nav{
  border-right: 1px solid black;
  width: 25%;
}

.nav-section{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.item{
  display: flex;
  align-items: center;
}

.item:hover{
  background-color: grey;
  cursor: pointer;
}

.item-title{
  font-weight: 300;
}

.svg-img{
  width:50px;
  height:50px;
}

.add-project-button{
  width: inherit;
  display: flex;
}

.add-project-button:hover{
  cursor: pointer;
  background-color: grey;
}

.form-section{
  display: flex;
  align-items: center;
}

button{
  border: none;
  height: 50px;
  width: 80px;
  font-size: 1.2rem;
}

button:hover{
  cursor: pointer;
}

.cancel{
  background-color: red;
  color: white
}

.add{
  background-color: rgb(24, 223, 24);
  color: white
}

.new-project-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}








