@font-face{
  font-family: 'OpenSans';
  src: local('OpenSans'), url('../fonts/static/OpenSans-Medium.ttf') format('truetype');
}

*{
  font-family: 'OpenSans';
}

a{
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'OpenSans';
}

header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input{
  height: 40px;
  font-size: 1.2rem;
}

.hamburer-icon{
  width: 50px;
  height: 50px;
}

.hamburger-icon-container:hover{
  cursor: pointer;
}

.logo{
  width: 300px;
  height: auto;
}

.container{
  display: flex;
}

nav{
  border-right: 1px solid black;
  width: 35%;
}

.nav-section{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.item{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.item:hover{
  background-color: grey;
  cursor: pointer;
}

.item-title{
  font-weight: 300;
  width: 100%;
}

.svg-img{
  width:50px;
  height:50px;
}

.add-project-button{
  width: inherit;
  display: flex;
}

.add-project-button:hover{
  cursor: pointer;
  background-color: grey;
}

.form-section{
  display: flex;
  align-items: center;
}

button{
  border: none;
  height: 50px;
  width: 80px;
  font-size: 1.2rem;
}

button:hover{
  cursor: pointer;
}

.cancel{
  background-color: red;
  color: white
}

.add{
  background-color: rgb(24, 223, 24);
  color: white
}

.new-project-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-block{
  background-color: rgb(24, 223, 24);
  color: white
}

.project-item{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.project-edit-menu{
  background-color: white;
  border-radius: 10px;
  position: absolute;
  height: 100px;
  width: 110px;
  border: 2px solid black;
  left: 170px;
  top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

.project-edit-menu div{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.project-edit-menu div:hover{
  background-color: grey;
  color: white;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.buttons-container button{
  border-radius: 10px;
  height: 75px;
  width: 80%;
  font-size: 1.2rem;
}

.buttons-container button:hover{
  border: 3px inset rgba(36, 35, 35, 0.543);
  font-size: 1.3rem;
}

.no-tasks{
  color:rgba(128, 128, 128, 0.522);
  font-size: 1.2rem;
}

.tasks{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task-item{
  width: 80%;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.task-complete-button{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid black
}

.green{
  background-color: rgb(95, 222, 95);
  border-color: rgb(95, 222, 95);
}

.edit-task-menu{
  position: absolute;
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
  right: 10px;
  top: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 110px;
}

.edit-task-menu div{
  width: 100%;
  height: 50%;
  font-size: 1.2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.edit-task-menu div:hover{
  background-color: grey;
  color: white;
  cursor: pointer;
}

.selected{
  background-color: grey;
}




